*{
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}
html, body {
    min-height: 100%;
}
body{
    background-color: black;
    color: white;
    


}
main{
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

section{
    padding: 10px;
    height: 10px;
    width: 10px;
}
aside{
    padding: 10px;
}

.imagem01 {
    height: 100px;
    width: 100px;

}